{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <nav class="main-nav overlay clearfix">
        <a class="blog-logo" href="{{@blog.url}}" title="{{@blog.title}}">
        <svg x="0px" y="0px" viewBox="0 0 400 150">
<path id="XMLID_51_" style="fill:#FFFFFF;" d="M73.477,143.733c-4.524,0-8.388-2.88-9.855-6.905
    c-8.002,1.516-16.508,1.24-24.274-0.778c-1.23,4.426-5.295,7.683-10.106,7.683c-5.782,0-10.486-4.706-10.486-10.489v-8.21
    c-5.392-5.007-9.006-11.008-10.572-17.536c-3.131-0.979-5.411-3.909-5.411-7.358c0-3.45,2.28-6.378,5.411-7.358
    c3.138-13.097,14.417-23.779,30.003-28.204c0.881-0.25,1.825-0.107,2.594,0.389c0.769,0.497,1.287,1.301,1.42,2.205
    c0.274,1.846,0.939,3.571,1.947,5.067c2.978-0.355,5.909-0.522,9.082-0.522c3.556,0,7.189,0.28,10.823,0.833
    c1.064-1.461,1.788-3.14,2.12-4.926c0.167-0.902,0.716-1.688,1.505-2.157c0.786-0.468,1.739-0.573,2.613-0.287
    c12.02,3.937,21.332,11.717,25.881,21.53c5.634,0.472,9.808,7.166,9.808,15.94c0,9.102-4.491,15.968-10.446,15.968h-2.259
    c-2.455,3.581-5.576,6.771-9.308,9.522v5.104C83.965,139.026,79.26,143.733,73.477,143.733z M66.171,129.825
    c0.699,0,1.386,0.231,1.951,0.668c0.776,0.604,1.23,1.531,1.23,2.512c0,2.514,1.85,4.366,4.125,4.366
    c2.276,0,4.127-1.851,4.127-4.127v-6.749c0-1.054,0.521-2.038,1.392-2.629c4.146-2.82,7.458-6.217,9.845-10.096
    c0.579-0.939,1.604-1.513,2.709-1.513h3.983c1.626,0,4.085-3.832,4.085-9.606c0-5.775-2.459-9.605-4.085-9.605h-1.476
    c-1.314,0-2.492-0.808-2.967-2.034c-3.137-8.113-10.23-14.788-19.703-18.656c-0.868,2.144-2.138,4.117-3.757,5.819
    c-0.736,0.773-1.804,1.122-2.86,0.941c-3.877-0.689-7.758-1.036-11.538-1.036c-3.512,0-6.694,0.222-10.014,0.698
    c-1.059,0.146-2.113-0.234-2.824-1.029c-1.578-1.764-2.788-3.813-3.584-6.042c-12.286,4.472-21.1,13.81-22.817,24.452
    c-0.265,1.646-1.743,2.839-3.424,2.66c-0.047-0.003-0.228-0.025-0.276-0.032c-0.554,0.007-1.157,0.611-1.157,1.354
    c0,0.741,0.603,1.344,1.345,1.344l0.119-0.027c1.655-0.134,3.131,1.029,3.393,2.664c1.031,6.391,4.498,12.3,10.028,17.088
    c0.697,0.606,1.098,1.483,1.098,2.405v9.629c0,2.276,1.85,4.127,4.125,4.127c2.275,0,4.125-1.851,4.125-4.127v-1.354
    c0-1.026,0.496-1.99,1.331-2.587c0.836-0.602,1.912-0.753,2.88-0.422c8.726,2.984,18.734,3.359,27.807,1.043
    C65.643,129.857,65.908,129.825,66.171,129.825z"/>
<path id="XMLID_48_" style="fill:#FFFFFF;" d="M83.165,103.342c-3.009,0-5.457-2.448-5.457-5.457c0-3.008,2.448-5.455,5.457-5.455
    s5.457,2.448,5.457,5.455C88.622,100.894,86.174,103.342,83.165,103.342z M83.165,96.98c-0.498,0-0.905,0.405-0.905,0.904
    s0.406,0.907,0.905,0.907s0.904-0.408,0.904-0.907S83.663,96.98,83.165,96.98z"/>
<path id="XMLID_18_" style="fill:#FFFFFF;" d="M71.791,80.679c-0.286,0-0.578-0.04-0.867-0.122
    c-10.765-3.045-22.511-3.293-33.591-0.631c-1.71,0.4-3.425-0.642-3.836-2.349c-0.41-1.708,0.641-3.425,2.35-3.836
    c12.142-2.915,25.001-2.646,36.809,0.696c1.691,0.478,2.672,2.236,2.194,3.926C74.453,79.763,73.178,80.679,71.791,80.679z"/>
<path id="XMLID_44_" style="fill:#FFFFFF;" d="M66.451,79.414l-1.682-0.298c-3.877-0.689-7.758-1.036-11.538-1.036
    c-3.512,0-6.694,0.222-10.014,0.698l-1.687,0.242l-1.136-1.27c-3.049-3.409-4.729-7.792-4.729-12.342
    c0-10.224,8.317-18.541,18.539-18.541c10.223,0,18.54,8.317,18.54,18.541c0,4.766-1.817,9.301-5.115,12.767L66.451,79.414z
     M53.23,71.718c3.556,0,7.189,0.28,10.824,0.833c1.511-2.071,2.328-4.556,2.328-7.143c0-6.715-5.463-12.179-12.178-12.179
    c-6.715,0-12.178,5.464-12.178,12.179c0,2.447,0.743,4.821,2.116,6.832C47.122,71.886,50.054,71.718,53.23,71.718z"/>
<path id="XMLID_15_" style="fill:#FFFFFF;" d="M69.937,96.938c-0.735,0-1.473-0.253-2.073-0.77
    c-1.574-1.355-2.477-3.321-2.477-5.395c0-3.921,3.191-7.112,7.112-7.112c1.9,0,3.685,0.739,5.027,2.082
    c1.242,1.242,1.242,3.255,0,4.498c-1.242,1.242-3.255,1.242-4.498,0c-0.101-0.099-0.273-0.219-0.529-0.219
    c-0.414,0-0.75,0.337-0.75,0.75c0,0.299,0.166,0.488,0.266,0.574c1.332,1.146,1.482,3.154,0.335,4.485
    C71.72,96.563,70.83,96.938,69.937,96.938z"/>
<path id="XMLID_14_" style="fill:#FFFFFF;" d="M53.103,137.799c-8.579,0-16.796-2.149-23.765-6.214
    c-1.517-0.887-2.03-2.835-1.144-4.351c0.887-1.521,2.838-2.025,4.35-1.146c5.997,3.501,13.106,5.35,20.56,5.35
    c6.269,0,12.417-1.344,17.778-3.886c1.589-0.753,3.485-0.075,4.237,1.513c0.753,1.585,0.076,3.484-1.511,4.237
    C67.4,136.243,60.309,137.799,53.103,137.799z"/>
<path id="XMLID_39_" style="fill:#FFFFFF;" d="M54.418,42.168c-10.236,0-18.564-8.328-18.564-18.565
    c0-10.238,8.328-18.566,18.564-18.566c10.236,0,18.564,8.328,18.564,18.566C72.982,33.841,64.654,42.168,54.418,42.168z
     M54.418,11.399c-6.729,0-12.203,5.475-12.203,12.204c0,6.729,5.474,12.204,12.203,12.204c6.729,0,12.203-5.475,12.203-12.204
    C66.621,16.874,61.147,11.399,54.418,11.399z"/>
<g id="XMLID_24_">
    <path id="XMLID_11_" style="fill:#FFFFFF;" d="M158.134,103.652c-6.126-1.737-11.625-3.633-11.625-7.681
        c0-2.528,1.349-6.77,10.387-6.77c4.273,0,6.909,1.311,12.202,4.136c0.393,0.168,0.931,0.398,1.604,0.398
        c0.964,0,1.782-0.437,2.51-1.417l0.642-0.97c0.708-0.946,0.681-1.864,0.601-2.327c-0.143-0.826-0.618-1.513-1.406-2.039
        c-0.815-0.543-8.191-5.312-16.153-5.312c-12.438,0-18.005,7.183-18.005,14.3c0,9.05,8.609,12.528,17.907,14.941
        c7.108,1.854,11.841,3.899,11.841,7.845c0,4.13-4.181,6.5-11.47,6.5c-7.545,0-12.571-4.224-12.576-4.224l-0.49-0.385
        c-0.591-0.355-1.167-0.529-1.758-0.529c-0.563,0-1.603,0.169-2.395,1.26l-0.683,0.833c-0.601,0.606-0.911,1.446-0.849,2.306
        c0.065,0.905,0.539,1.754,1.246,2.291c2.779,2.222,9.593,5.979,17.504,5.979c12.012,0,19.183-5.377,19.183-14.387
        C176.351,108.619,164.931,105.503,158.134,103.652z"/>
    <path id="XMLID_35_" style="fill:#FFFFFF;" d="M219.269,101.602c0.271-6.19-1.342-11.296-4.664-14.768
        c-3.22-3.364-7.8-5.07-13.609-5.07c-6.503,0-13.853,1.872-19.586,4.97c-0.895,0.447-1.529,1.184-1.789,2.076
        c-0.26,0.887-0.123,1.84,0.34,2.612l0.4,0.719c0.519,1.096,1.565,1.769,2.771,1.769c0.696,0,1.297-0.225,1.854-0.473
        c5.787-3.008,10.476-4.234,16.189-4.234c3.427,0,6.056,0.922,7.81,2.741c1.66,1.722,2.582,4.266,2.748,7.581
        c-20.45,3.519-33.719,7.044-33.719,19.235c0,8.411,6.5,13.848,16.561,13.848c7.057,0,12.454-1.941,17.483-4.43
        c0.194,2.328,0.698,3.978,2.863,3.978h1.536c0.942,0,1.784-0.358,2.373-1.009c0.994-1.098,0.852-2.53,0.795-3.103
        C218.981,120.305,218.864,111.653,219.269,101.602z M210.197,107.347c0.472-0.094,0.944-0.189,1.419-0.283
        c-0.129,3.976-0.181,8.682,0.037,12.936c-6.045,3.534-11.527,5.258-16.718,5.258c-3.474,0-9.301-0.855-9.301-6.59
        C185.635,112.535,194.968,110.369,210.197,107.347z"/>
    <path id="XMLID_8_" style="fill:#FFFFFF;" d="M270.726,84.483l-0.761-1.052c-0.542-0.746-1.357-1.124-2.425-1.124h-1.807
        c-1.496,0-2.495,0.606-2.972,1.804l-18.112,36.466l-18.366-36.488c-0.313-0.755-1.073-1.783-2.87-1.783h-1.99
        c-1.029,0-1.819,0.371-2.348,1.103l-0.745,1.273l0.405,1.235l22.473,44.821c0.8,1.618,2.124,1.958,3.094,1.958h0.723
        c0.76,0,2.162-0.256,3.002-1.953l22.155-44.487L270.726,84.483z"/>
    <path id="XMLID_31_" style="fill:#FFFFFF;" d="M291.946,81.676c-13.798,0-24.607,11.207-24.607,25.512
        c0,14.305,11.087,25.509,25.241,25.509c9.758,0,16.45-5.83,20.341-10.715c0.499-0.621,1.503-2.279,0.047-4.209l-0.778-0.725
        c-0.833-0.827-1.715-1.002-2.311-1.002c-0.567,0-1.653,0.172-2.552,1.3c-4.358,5.397-9.015,7.912-14.658,7.912
        c-10.508,0-15.674-7.278-17.126-13.448l35.844,0.003c3.429,0,5.169-1.677,5.169-4.987
        C316.556,92.724,305.747,81.676,291.946,81.676z M275.151,104.465c0.982-6.769,5.854-15.348,16.798-15.348
        c11.023,0,15.667,9.121,16.738,15.348H275.151z"/>
    <path id="XMLID_5_" style="fill:#FFFFFF;" d="M324.761,54.728l-1.088-0.001c-2.045,0-3.268,1.221-3.268,3.268v70.712
        c0,2.383,1.687,3.449,3.357,3.449h0.996c1.956,0,3.268-1.349,3.268-3.357V57.996C328.026,56.01,326.744,54.728,324.761,54.728z"/>
    <path id="XMLID_4_" style="fill:#FFFFFF;" d="M339.237,82.307h-1.086c-2.045,0-3.268,1.221-3.268,3.268v43.224
        c0,2.309,1.645,3.357,3.176,3.357h1.357c1.488,0,3.089-1.021,3.089-3.265V85.575C342.505,83.59,341.223,82.307,339.237,82.307z"/>
    <path id="XMLID_3_" style="fill:#FFFFFF;" d="M338.693,55.18c-2.482,0-4.354,1.833-4.354,4.261c0,2.441,1.913,4.354,4.354,4.354
        c2.311,0,4.264-1.994,4.264-4.354C342.957,57.093,341.044,55.18,338.693,55.18z"/>
    <path id="XMLID_25_" style="fill:#FFFFFF;" d="M372.04,81.583c-14.459,0-25.785,11.286-25.785,25.694
        c0,14.014,11.567,25.42,25.785,25.42c14.117,0,25.602-11.406,25.602-25.42C397.641,93.109,386.156,81.583,372.04,81.583z
         M372.04,125.168c-10.811,0-18.072-9.251-18.072-17.891c0-10.016,8.108-18.164,18.072-18.164c9.865,0,17.891,8.148,17.891,18.164
        C389.931,116.973,381.738,125.168,372.04,125.168z"/>
</g>
</svg>
        </a>
        {{#if @blog.navigation}}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {{/if}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{@blog.title}}</h1>
            <h2 class="page-description">{{@blog.description}}</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

{{! The main content area on the homepage }}
<main id="content" class="content" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>
