{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header class="header-blog">
    <div class="header__wrap">
        <a class="header__logo" href="{{@blog.url}}" title="{{@blog.title}}">
            <svg x="0px" y="0px" viewBox="0 0 400 150">
            <path style="fill:#DF4400;" d="M86.956,136.665c-4.025,0-7.463-2.563-8.768-6.144c-7.12,1.349-14.688,1.103-21.598-0.692
                c-1.094,3.938-4.711,6.836-8.992,6.836c-5.145,0-9.33-4.187-9.33-9.332v-7.305c-4.797-4.455-8.013-9.794-9.406-15.602
                c-2.786-0.871-4.814-3.478-4.814-6.546c0-3.07,2.028-5.675,4.814-6.546C31.655,79.68,41.69,70.176,55.557,66.239
                c0.784-0.222,1.624-0.095,2.308,0.346c0.684,0.442,1.145,1.157,1.263,1.962c0.243,1.643,0.836,3.177,1.732,4.508
                c2.65-0.316,5.257-0.464,8.081-0.464c3.164,0,6.396,0.249,9.629,0.741c0.946-1.3,1.591-2.793,1.886-4.383
                c0.148-0.803,0.637-1.502,1.339-1.919c0.7-0.417,1.547-0.51,2.325-0.255c10.695,3.503,18.98,10.425,23.027,19.156
                c5.013,0.42,8.726,6.376,8.726,14.183c0,8.098-3.996,14.207-9.294,14.207h-2.01c-2.184,3.186-4.961,6.024-8.282,8.472v4.541
                C96.288,132.477,92.102,136.665,86.956,136.665z M80.456,124.29c0.622,0,1.234,0.206,1.736,0.595
                c0.691,0.537,1.094,1.362,1.094,2.235c0,2.237,1.646,3.884,3.67,3.884c2.025,0,3.672-1.647,3.672-3.672v-6.005
                c0-0.937,0.463-1.813,1.238-2.339c3.689-2.509,6.636-5.532,8.759-8.983c0.515-0.836,1.427-1.346,2.41-1.346h3.544
                c1.447,0,3.635-3.409,3.635-8.547c0-5.138-2.188-8.546-3.635-8.546h-1.313c-1.17,0-2.217-0.719-2.64-1.81
                c-2.791-7.218-9.102-13.158-17.531-16.599c-0.773,1.908-1.903,3.663-3.343,5.178c-0.655,0.688-1.605,0.998-2.545,0.837
                c-3.449-0.613-6.902-0.922-10.266-0.922c-3.125,0-5.956,0.198-8.91,0.621c-0.942,0.13-1.88-0.208-2.513-0.915
                c-1.404-1.57-2.481-3.392-3.189-5.376c-10.932,3.979-18.773,12.287-20.301,21.756c-0.235,1.465-1.551,2.526-3.047,2.367
                c-0.042-0.002-0.203-0.022-0.245-0.029c-0.493,0.007-1.029,0.544-1.029,1.205c0,0.659,0.536,1.196,1.196,1.196l0.106-0.024
                c1.472-0.119,2.786,0.915,3.019,2.37c0.918,5.686,4.002,10.944,8.922,15.204c0.62,0.539,0.977,1.32,0.977,2.14v8.567
                c0,2.025,1.646,3.672,3.67,3.672c2.024,0,3.67-1.647,3.67-3.672v-1.205c0-0.913,0.441-1.771,1.184-2.301
                c0.744-0.535,1.701-0.67,2.563-0.376c7.763,2.655,16.669,2.989,24.74,0.928C79.986,124.319,80.221,124.29,80.456,124.29z"/>
            <path style="fill:#DF4400;" d="M95.576,100.727c-2.677,0-4.855-2.178-4.855-4.855c0-2.676,2.178-4.854,4.855-4.854
                s4.855,2.178,4.855,4.854C100.431,98.549,98.253,100.727,95.576,100.727z M95.576,95.068c-0.443,0-0.805,0.36-0.805,0.805
                s0.362,0.807,0.805,0.807s0.805-0.363,0.805-0.807S96.019,95.068,95.576,95.068z"/>
            <path id="XMLID_18_" style="fill:#DF4400;" d="M85.456,80.563c-0.254,0-0.514-0.035-0.772-0.108
                c-9.578-2.709-20.029-2.929-29.887-0.562c-1.521,0.356-3.048-0.571-3.413-2.09c-0.365-1.52,0.571-3.048,2.09-3.413
                c10.803-2.593,22.244-2.354,32.75,0.619c1.504,0.426,2.378,1.99,1.952,3.493C87.825,79.748,86.691,80.563,85.456,80.563z"/>
            <path style="fill:#DF4400;" d="M80.705,79.438l-1.497-0.265c-3.449-0.613-6.902-0.922-10.266-0.922c-3.125,0-5.956,0.198-8.91,0.621
                l-1.501,0.216l-1.01-1.13c-2.713-3.033-4.207-6.933-4.207-10.981c0-9.096,7.4-16.496,16.495-16.496
                c9.095,0,16.495,7.4,16.495,16.496c0,4.241-1.616,8.275-4.551,11.359L80.705,79.438z M68.942,72.591c3.164,0,6.396,0.249,9.63,0.741
                c1.344-1.843,2.072-4.054,2.072-6.355c0-5.975-4.861-10.836-10.836-10.836c-5.975,0-10.835,4.862-10.835,10.836
                c0,2.177,0.661,4.289,1.882,6.079C63.507,72.74,66.116,72.591,68.942,72.591z"/>
            <path id="XMLID_15_" style="fill:#DF4400;" d="M83.806,95.03c-0.654,0-1.311-0.225-1.845-0.685c-1.401-1.206-2.204-2.955-2.204-4.8
                c0-3.489,2.839-6.327,6.327-6.327c1.69,0,3.279,0.658,4.473,1.853c1.105,1.105,1.105,2.896,0,4.002
                c-1.105,1.105-2.896,1.105-4.002,0c-0.09-0.088-0.243-0.194-0.471-0.194c-0.368,0-0.668,0.3-0.668,0.668
                c0,0.266,0.148,0.434,0.237,0.511c1.185,1.019,1.319,2.807,0.298,3.991C85.393,94.696,84.601,95.03,83.806,95.03z"/>
            <path id="XMLID_14_" style="fill:#DF4400;" d="M68.829,131.385c-7.633,0-14.944-1.912-21.144-5.529
                c-1.35-0.789-1.806-2.523-1.018-3.871c0.789-1.353,2.525-1.802,3.87-1.019c5.336,3.115,11.661,4.76,18.293,4.76
                c5.578,0,11.048-1.196,15.817-3.458c1.414-0.67,3.101-0.066,3.77,1.346c0.67,1.411,0.067,3.1-1.344,3.77
                C81.549,130.001,75.24,131.385,68.829,131.385z"/>
            <path style="fill:#DF4400;" d="M69.999,46.299c-9.107,0-16.517-7.41-16.517-16.518c0-9.109,7.41-16.518,16.517-16.518
                c9.108,0,16.517,7.41,16.517,16.518C86.516,38.89,79.106,46.299,69.999,46.299z M69.999,18.923c-5.987,0-10.857,4.871-10.857,10.859
                c0,5.987,4.871,10.858,10.857,10.858c5.987,0,10.857-4.871,10.857-10.858C80.856,23.794,75.985,18.923,69.999,18.923z"/>
            <g>
                <path id="XMLID_11_" style="fill:#DF4400;" d="M162.278,101.003c-5.451-1.545-10.343-3.232-10.343-6.834
                    c0-2.25,1.201-6.024,9.241-6.024c3.802,0,6.147,1.166,10.856,3.68c0.349,0.149,0.828,0.354,1.427,0.354
                    c0.858,0,1.585-0.389,2.233-1.26l0.572-0.863c0.63-0.841,0.606-1.658,0.535-2.071c-0.127-0.735-0.549-1.346-1.251-1.814
                    c-0.725-0.483-7.288-4.726-14.372-4.726c-11.066,0-16.02,6.391-16.02,12.724c0,8.052,7.659,11.147,15.932,13.294
                    c6.324,1.649,10.536,3.469,10.536,6.98c0,3.675-3.72,5.784-10.205,5.784c-6.713,0-11.185-3.758-11.189-3.758l-0.436-0.343
                    c-0.526-0.316-1.038-0.471-1.564-0.471c-0.501,0-1.426,0.15-2.131,1.121l-0.608,0.741c-0.535,0.539-0.81,1.287-0.755,2.052
                    c0.057,0.805,0.48,1.561,1.109,2.038c2.473,1.977,8.535,5.319,15.574,5.319c10.687,0,17.068-4.784,17.068-12.801
                    C178.487,105.423,168.326,102.651,162.278,101.003z"/>
                <path style="fill:#DF4400;" d="M216.673,99.18c0.241-5.507-1.194-10.051-4.15-13.139c-2.865-2.993-6.94-4.511-12.109-4.511
                    c-5.786,0-12.326,1.666-17.426,4.422c-0.796,0.398-1.361,1.053-1.592,1.847c-0.231,0.789-0.11,1.637,0.303,2.324l0.356,0.64
                    c0.462,0.975,1.393,1.574,2.465,1.574c0.619,0,1.154-0.2,1.649-0.421c5.149-2.676,9.321-3.767,14.404-3.767
                    c3.049,0,5.388,0.82,6.949,2.439c1.477,1.532,2.297,3.796,2.445,6.745c-18.195,3.131-30.001,6.268-30.001,17.114
                    c0,7.484,5.784,12.321,14.735,12.321c6.279,0,11.081-1.727,15.556-3.942c0.173,2.071,0.621,3.54,2.547,3.54h1.366
                    c0.838,0,1.587-0.319,2.112-0.898c0.884-0.977,0.758-2.251,0.707-2.761C216.416,115.821,216.312,108.123,216.673,99.18z
                     M208.601,104.291c0.42-0.084,0.84-0.168,1.262-0.252c-0.115,3.537-0.161,7.725,0.033,11.51
                    c-5.379,3.144-10.256,4.678-14.875,4.678c-3.091,0-8.275-0.76-8.275-5.863C186.747,108.907,195.051,106.98,208.601,104.291z"/>
                <path id="XMLID_8_" style="fill:#DF4400;" d="M262.455,83.948l-0.677-0.936c-0.482-0.663-1.207-1-2.158-1h-1.607
                    c-1.331,0-2.22,0.539-2.644,1.605l-16.115,32.445l-16.34-32.464c-0.278-0.672-0.955-1.586-2.553-1.586h-1.771
                    c-0.915,0-1.618,0.331-2.089,0.982l-0.663,1.133l0.36,1.099l19.995,39.879c0.712,1.439,1.89,1.742,2.752,1.742h0.643
                    c0.676,0,1.923-0.228,2.671-1.738l19.712-39.582L262.455,83.948z"/>
                <path style="fill:#DF4400;" d="M281.336,81.451c-12.277,0-21.894,9.971-21.894,22.699c0,12.728,9.865,22.697,22.458,22.697
                    c8.682,0,14.636-5.187,18.098-9.533c0.444-0.553,1.338-2.027,0.042-3.745l-0.692-0.645c-0.741-0.736-1.526-0.891-2.056-0.891
                    c-0.504,0-1.47,0.153-2.271,1.156c-3.878,4.802-8.021,7.039-13.042,7.039c-9.35,0-13.946-6.475-15.237-11.965l31.891,0.002
                    c3.051,0,4.599-1.492,4.599-4.437C303.232,91.28,293.615,81.451,281.336,81.451z M266.393,101.727
                    c0.873-6.022,5.209-13.655,14.945-13.655c9.807,0,13.939,8.115,14.892,13.655H266.393z"/>
                <path id="XMLID_5_" style="fill:#DF4400;" d="M310.532,57.474l-0.968-0.001c-1.82,0-2.907,1.087-2.907,2.907v62.915
                    c0,2.12,1.501,3.069,2.987,3.069h0.887c1.74,0,2.907-1.201,2.907-2.987V60.381C313.437,58.615,312.297,57.474,310.532,57.474z"/>
                <path id="XMLID_4_" style="fill:#DF4400;" d="M323.413,82.012h-0.966c-1.82,0-2.907,1.087-2.907,2.907v38.458
                    c0,2.054,1.464,2.987,2.825,2.987h1.207c1.324,0,2.748-0.909,2.748-2.905V84.92C326.32,83.153,325.179,82.012,323.413,82.012z"/>
                <path id="XMLID_3_" style="fill:#DF4400;" d="M322.929,57.876c-2.209,0-3.874,1.63-3.874,3.792c0,2.172,1.702,3.874,3.874,3.874
                    c2.056,0,3.794-1.774,3.794-3.874C326.722,59.578,325.02,57.876,322.929,57.876z"/>
                <path style="fill:#DF4400;" d="M352.598,81.368c-12.865,0-22.942,10.042-22.942,22.861c0,12.469,10.292,22.617,22.942,22.617
                    c12.56,0,22.779-10.148,22.779-22.617C375.377,91.623,365.158,81.368,352.598,81.368z M352.598,120.147
                    c-9.619,0-16.079-8.231-16.079-15.918c0-8.912,7.214-16.161,16.079-16.161c8.777,0,15.918,7.249,15.918,16.161
                    C368.516,112.856,361.227,120.147,352.598,120.147z"/>
            </g>
            </svg>
            <span class="header__beta">Blog</span>
        </a>
        <nav class="nav-blog">
            <a class="nav__link" href="/" title="Home">Home</a>
            <a class="nav__link" href="http://www.savelio.com" title="Savelio">Savelio - money management</a>
            <a class="nav__link" href="http://app.savelio.com" title="Login">Login to Savelio</a>
            {{#if @blog.navigation}}
                <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
            {{/if}}
        </nav>
    </div>
</header>

<main class="content" role="main">
    <article class="{{post_class}}">

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
            <section class="post-meta">
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> {{tags prefix=" on "}}
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer">

        {{! Everything inside the #author tags pulls data from the author }}
        {{#author}}

            {{#if image}}
            <figure class="author-image">
                <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
            </figure>
            {{/if}}

            <section class="author">
                <h4><a href="{{url}}">{{name}}</a></h4>

                {{#if bio}}
                    <p>{{bio}}</p>
                {{else}}
                    <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                {{/if}}
                <div class="author-meta">
                    {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
                    {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
                </div>
            </section>

        {{/author}}

            <section class="share">
                <h4>Share this post</h4>
                <a class="icon-twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>

        </footer>

    </article>
</main>

<aside class="read-next">
    {{#next_post}}
    <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/next_post}}
    {{#prev_post}}
    <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/prev_post}}
</aside>

{{/post}}
